extends layout

block content
 h1= title
  p This is my #{title}

  a(href="/About me") About me
  a(href="/Contact Me") Contact Me
  a(href="/Home page") Home page
   a(href="/Projects") Projects
  a(href="/Services") Services