doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  
    a(href="/Aboutme") About me 
    a(href="/ContactMe") Contact Me 
    a(href="/Projects") Projects 
    a(href="/Services") Services 

   
    body

    block content